@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-color: #222;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: grid;
  justify-content: center;
}

.header h1 {
  text-align: center;
  text-shadow: 3px 2px 2px rgba(255,255,255,0.6);
  color: rgb(255, 201, 100);
}

.table {
  width: 300px;
  height: 300px;
  background-color: #222;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.table-box {
  font-size: 30px;
  border: 3px solid rgb(179, 178, 178);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-box:hover {
  box-shadow: 1px 0px 5px 0px rgba(189,189,189,0.75);
-webkit-box-shadow: 1px 0px 5px 0px rgba(189,189,189,0.75);
-moz-box-shadow: 1px 0px 5px 0px rgba(189,189,189,0.75);
}